.corpo{ 
background-color: blueviolet;
color: black;
text-align: center;
border: 15px;
  border-style: double;
  border-color: darkorchid;
}

p{
    color: gold;
    font-size: 17px;
}

#link{
    color: darkgreen;
    text-decoration: none
}

#link:hover{
   color:rgb(0, 0, 0);
   font-size: 25px;
}